body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

html,
body,
main {
  height: 100%;
}
main.auth-wrapper {
    display: table;
    margin: auto;
    max-width: 430px;
}
div.auth-container {
    display: table-cell;
    vertical-align: middle;
}


.input-field{
  /*margin-left: 5px !important;*/
  margin-left: 2rem !important;
  width: calc(100% - 3rem) !important;
}
.input-field div.error{
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.9rem;
  color:#FF4081;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);

  margin-left:46px;
}
.input-field label.active{
  width:100%;
}
header nav{
  padding-left: 20px;
}
.side-nav .collapsible-body {
  background-color: #00897b !important;
}
.side-nav .collapsible-header, .side-nav a {
  margin: 0 !important;
  padding-right: 0 !important;
}
.side-nav a i {
  line-height: inherit;
}
.side-nav a {
  color: #FFFFFF !important;
  /*padding: */
}
.side-nav li {
  padding:0;
}
.side-nav li:hover, .side-nav li.active {
  background-color: #26a69a;
}

header.side-nav-offset, main.side-nav-offset, footer.side-nav-offset {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header.side-nav-offset, main.side-nav-offset, footer.side-nav-offset {
    padding-left: 0;
  }
}

.step-pane {
  visibility: hidden !important;
  display: none;
}

.step-pane.active {
  visibility: visible !important;
  display: block;
}

.steps-container .steps.pagination a:hover {
  cursor: not-allowed;
}

.steps-container .steps.pagination .complete a:hover {
  cursor: pointer;
  cursor: hand;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }*
